.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  max-width: 300px;
}

.margin {
  margin: 5px;
}

.link {
  padding: 0;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #000;
}
